@keyframes arrowTranslate {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}


.fa-arrow-down {
    animation-name: arrowTranslate;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

// Loading video 
@keyframes spin {
    0% {
      transform: translateT(0) rotate(0deg);
    }

    50% {
      transform: translateY(-100%) rotate(500deg)
    }

    100% {
        transform: translateT(0) rotate(0deg);
      }
  }


.water{
    position: absolute;
    height: 30rem;
    width: 30rem;
    margin-top: 50rem;
    margin-top: 35%;
    background: #e2a82b;
    // background: #705210;
    border-radius: 35%;
    animation: spin 12s ease-in-out infinite;
    z-index: 1;
  }
