@keyframes arrowTranslate {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(10px);
    }
}


.fa-arrow-down {
    animation-name: arrowTranslate;
    animation-duration: 0.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

// Loading video 
@keyframes spin {
    0% {
      transform: translateT(0) rotate(0deg);
    }

    50% {
      transform: translateY(-100%) rotate(500deg);
    }

    100% {
        transform: translateT(0) rotate(0deg);
      }
  }


.water{
    position: absolute;
    height: 20rem;
    width: 20rem;
    bottom: 4%;
    // background: #e2a82b;
    // background: #d3fcf6;
    background: #00aaa1;
    border-radius: 40%;
    animation: spin 6s ease-in-out infinite;
    // z-index: 1;
    @media screen and (max-width: $md-breakpoint) {
      // margin-top: 30%;
    }
      
  }
