#contact {
    padding: 0 10rem;
    @media  screen and(max-width:$xxl-breakpoint) {
      padding: 0;
    }
    background-color: white;
    font-family: 'Oswald', sans-serif;
    
    img{
      width: 100%;
    }
    color: black;
    position: relative;
    .container {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      .tile{
        padding: 2rem 4rem;
        // background-color: rgba(219, 184, 89, 0.9);
        background-color: rgba(219, 184, 89, 0.7);
  
        margin: 0 auto;
        color: white;
  
        font-size: 3rem;
        @media screen and (max-width:$sm-breakpoint){
          font-size: 1.5rem;
        }
        i{
          color:white;
        }
  
        button{
          background-color: white;
          border: 0.2rem solid white;
          color: rgb(219, 184, 89);
          border-radius: 0.3rem;
          font-size: 2rem;
          cursor: pointer;

          
          &:hover {
            display: inline-block;
            transform: scale(1.3);
          }
          i{
            margin-right: 0.5rem;
            // color: #3f8672;
            color: rgb(219, 184, 89); 
          }
        }
        ul{
          list-style-type: none;
          a{
            color: white;
          }
        }
        
  
      }
  
  
    }
    @media screen and (max-width:$sm-breakpoint){
      padding-top: 25rem;
    }
    @media screen and (max-width:$xl-breakpoint){
      padding-top: 25rem;
    }
  }


  button{
    transition: all 0.3s ease-in-out;
    &:hover {
      display: inline-block;
      transform: scale(1.3);
    }
  }