#projects {
  background-image: url(../img/jungle-pano.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: black 1px 2px;
  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .projet {
      flex-basis: 50%;
      @media screen and (max-width:$md-breakpoint) and (max-width:$sm-breakpoint){
        flex-basis: 70%;
        padding-bottom: 3rem;
      }

      @media screen and (max-width:$sm-breakpoint){
        flex-basis: 75%;
        // padding-bottom: 3rem;
      }

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }
  }
}
