@import "variables";
@import "container";
@import "about";
@import "navbar";
@import "projects";
@import "contact";
@import "reset";
@import "transitions";
@import "animations";

// dark: #303032

.App {
  text-align: center;
  font-family: "Iceberg", cursive;
  font-family: "Shadows Into Light", cursive;
}

.loading {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: #00aaa1;
  // background-color: #d3fcf6;

  .wrapper-box {
    // background-color: #f3ffa4;
    background: #d3fcf6;
    .box {
      position: relative;
      // background-image: url(../img/fond-loading2.png);
      // background-size: cover;
      display: flex;
      justify-content: center;
      height: 20rem;
      width: 20rem;
      z-index: 2;
      overflow: hidden;
    }
    .box:before{
      content: "";
      z-index: 3;
      height: 20rem;
      width: 20rem;
      background-image: url(../img/fond-loading2.png);
      background-size: cover;
    }
    .box:after{
      content:"";
      position: absolute;
      height: 20rem;
      width: 20rem;
      bottom: 3%;
      background: #e2a82b;
      // background: #d3fcf6;
      // background: #00aaa1;
      border-radius: 40%;
      animation: spin 6s ease-in-out infinite;
    }
  }

}

.hidden {
  display: none;
}

.App-header {
  position: relative;
  .fullscreen-bg-video {
    width: 100%;
  }
  .bg-image {
    width: 100%;
  }

  .header-content {
    position: absolute;
    //! Mettre les 4 zero pour positionnement
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .Typewriter {
      font-weight: 100;
      font-size: 5rem;
      text-align: center;
      @media screen and (max-width: $sm-breakpoint) {
        font-size: 3rem;
      }
    }
  }
  .header-content-icon {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #f2f0f1;
    text-align: center;
    font-size: 1.5rem;
    @media screen and (max-width: $xl-breakpoint) {
      bottom: 35%;
    }
    @media screen and (max-width: $md-breakpoint) {
      // font-size: 0.8rem;
      display: none;
    }
  }

  .container-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
}
