@import 'variables';
@import 'container';
@import 'about';
@import 'navbar';
@import 'projects';
@import 'contact';
@import 'transitions';
@import 'animations';


.App {
  text-align: center;
  font-family: "Iceberg", cursive;
  font-family: "Shadows Into Light", cursive;
}

.App-header {
  position: relative;
  .fullscreen-bg-video {
    width: 100%;
  }
  .header-content {
    position: absolute;
    //! Mettre les 4 zero pour positionnement
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    .Typewriter {
      font-weight: 100;
      font-size: 5rem;
      text-align: center;
      @media screen and (max-width:$sm-breakpoint){
        font-size: 2.5rem;
      }
    }
  }
  .jumbotron-content-icon {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    color: #f2f0f1;
    text-align: center;
    font-size: 1.5rem;
    @media screen and (max-width:$xl-breakpoint){
      bottom: 35%
    }
    @media screen and (max-width:$md-breakpoint){
      font-size: 0.8rem;
    }
  }

  .container-image {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    img {
      width: 100%;
    }
  }
}










